<div class="box">

  <% if @doc.errors.any? %>
    <div class="errors">
      <h2>oops, some errors here:</h2>
      <ul>
        <% @doc.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <%end%>

<%= labelled_form_for :doc, @doc, :url => {id: @doc, project_id: @project} do |f| %>

  <div class="splitcontentleft">
    <p><%= f.text_field :name, :size => 30, :required => true %></p>

    <p><%= f.select :template, options_for_select(@templates_list, @doc.template), :required => true %></p>

    <p><%= f.text_field :doc_title, :size => 30 %>
      <acronym title="<%= t(:info_doc_title)%>">(?)</acronym>
    </p>

    <p><%= f.text_field :doc_author, :size => 30 %>
      <acronym title="<%= t(:info_doc_author)%>">(?)</acronym>
    </p>

    <p><%= f.text_field :doc_date, :size => 30 %>
      <acronym title="<%= t(:info_doc_date)%>">(?)</acronym>
    </p>
  </div>

  <div class="splitcontentright">
    <p><%= f.check_box :latex_add_chapter %>
      <acronym title="<%= t(:info_latex_add_chapter)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_remove_macro %>
      <acronym title="<%= t(:info_latex_remove_macro)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_code %>
      <acronym title="<%= t(:info_latex_code)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_page_ref %>
      <acronym title="<%= t(:info_latex_page_ref)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_footnote %>
      <acronym title="<%= t(:info_latex_footnote)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_index_emphasis %>
      <acronym title="<%= t(:info_latex_index_emphasis)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_index_importance %>
      <acronym title="<%= t(:info_latex_index_importance)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_table_border %>
      <acronym title="<%= t(:info_latex_table_border)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_image_ref %>
      <acronym title="<%= t(:info_latex_image_ref)%>">(?)</acronym>
    </p>
  </div>

  <div align=left><%= submit_tag l(:button_save) %></div>
<% end %>
</div>
