<p>
  <label><%=t :field_latex_bin %></label><%= text_field_tag(
    "settings[latex_bin]", @settings["latex_bin"], :size => 50 
  )%>
</p>

<p>
  <label><%= l(:field_makindex_bin) %></label><%= text_field_tag(
    "settings[makeindex_bin]", @settings["makeindex_bin"], :size => 50 
  )%>
</p>

<p>
  <label><%=t :field_template_dir %></label><%= text_field_tag(
    "settings[template_dir]", @settings["template_dir"], :size => 50 
  )%>
</p>
