<div class="box">
  <%= labelled_form_for :doc_pu_wiki, @doc_pu_wiki, url: {
    project_id: @project, id: @doc_pu_wiki, doc_pu_id: @doc_pu} do |f| %>

      <% if @doc_pu_wiki.errors.any? %>
        <div class="errors">
          <h2>oops, some errors here:</h2>
          <ul>
            <% @doc_pu_wiki.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <%end%>

      <div class="splitcontentleft">
        <p><%= f.select :wiki_page_id, options_from_collection_for_select(
          @project.wiki.pages, :id, :title, @doc_pu_wiki.wiki_page_id
        ), :required => true %></p>

      <p><%= f.text_field :chapter_name, :size => 30 %> 
        <acronym title="<%= t(:info_chapter_name)%>">(?)</acronym>
      </p>

      <p><%= f.check_box :use_doc_flags %> 
        <acronym title="<%= t(:info_use_doc_flags)%>">(?)</acronym>
      </p>
    </div>

    <%= render :partial => 'latex_options', :locals => { :f => f } %>

    <%= submit_tag l(:button_save) %>
  <% end %>
</div>
