
  <div class="splitcontentright">
    <p><%= f.check_box :latex_add_chapter %>
      <acronym title="<%= t(:info_latex_add_chapter)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_remove_macro %>
      <acronym title="<%= t(:info_latex_remove_macro)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_code %>
      <acronym title="<%= t(:info_latex_code)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_page_ref %>
      <acronym title="<%= t(:info_latex_page_ref)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_footnote %>
      <acronym title="<%= t(:info_latex_footnote)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_index_emphasis %>
      <acronym title="<%= t(:info_latex_index_emphasis)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_index_importance %>
      <acronym title="<%= t(:info_latex_index_importance)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_table_border %>
      <acronym title="<%= t(:info_latex_table_border)%>">(?)</acronym>
    </p>

    <p><%= f.check_box :latex_image_ref %>
      <acronym title="<%= t(:info_latex_image_ref)%>">(?)</acronym>
    </p>
  </div>
